/* write your css here */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin-top:0px;
    margin-left:20px;
    margin-right:20px;
    padding: 0;
    position: relative;
}

@media screen and (min-width:400px) {
    div {
        float: left;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width:600px) {
    div {
        float: left;
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width:900px) {
    div {
        float: left;
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width:400px){
    nav{
        float: left;
        width: 100%;
        padding-left:10px;
        padding-right:10px;
    }
}

@media screen and (min-width:600px){
    nav{
        float: left;
        width: 50%;
        padding-left:10px;
        padding-right:10px;
    }
}