/* write your css here */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}




@media screen and (min-width:400px){
img {
    float: left;
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}
}

@media screen and (min-width:800px){
img {
    float: left;
    width: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}
}

@media screen and (min-width:900px){
img {
    float: left;
    width: 33.33333%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}
}